.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f1f3f6;
}

.app-main {
  flex: 1;
  padding: 20px;
  max-width: 1320px;
  margin: 0 auto;
  width: 100%;
}

.app-footer {
  background-color: #172337;
  color: white;
  text-align: center;
  padding: 18px;
  margin-top: 40px;
}
